*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.center{
    width: 100%;
    padding: 0 2%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-transparent{
    border: #fff solid 1px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
    transition: ease-in-out .5s;
    border-radius: 50px;
}

.btn-transparent:hover{
    background-color: #fff;
    color: #000;
    border: solid 1px #fff;
    text-decoration: none;
}

/*Header*/

header{
    background: linear-gradient(#1b171f, rgb(25, 20, 39));
    color: #fff;
    padding: 18px;
   
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 0 2%;
    max-width: 1200px;
    margin: 0 auto;
}

.containerLogo{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
}
.logo{
    width: 70px;
    height: 60px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.search-menu{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.container-search{
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background-color: #413a47;
    border-radius: 45px;
    display: flex;
    align-items: center;
}


.container-search img{
    width: 20px;
    height: 20px;
}

.container-search input{
    border: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    margin: 0 10px;
    color: #fff;
    background-color: #413a47;
    border-radius: 20px;
}

.search-menu button{
    border: 0;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.search-menu button:hover{
    background-color: #ff139d;
    color: #fff;
}

.menu-mobile{
    display: none;
}

.menu-mobile img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu-header a{
    color: white;
    text-decoration: none;
}

.menu-header a:hover{
    text-decoration: underline;
}

.market-btn{
    border: solid #fff 1px;
    padding: 10px 20px;
    border-radius: 60px;
    transition: ease-in-out .5s;
}

a.market-btn:hover{
    background-color: #fff;
    color: #000;
    border: 0;
    text-decoration: none;
}

/*Sessão main*/

.main{
    width: 100%;
    max-height: 600px;
    display: flex;
    background-color: #020102;
    justify-content: space-between;
    color: #fff;
}

.container-main-msg{
    position: absolute;
    padding: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
.main h2{
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
}

.container-main-msg button{
    border: #fff solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
}

.container-main-msg button{
    border: #fff solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
}

.container-main-msg button:hover{
    background-color: #fff;
    color: #020102;
    font-weight: 500;
}


.container-video{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-video video{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    background-position: bottom right;
}

/*section examples*/

section.examples{
    width: 100%;
    padding: 50px;/*
    background-color: #120e1a;
    color: #fff;*/
}

section.examples h2{
    font-weight: 300;
    margin-bottom: 50px;
}

.container-nfts{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.container-poster-nft{
    width: 30%;
    max-width: 400px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    border-radius: 25px;
    background-color: #1b171f;
    color: #FFF;
    width: 300px;
    box-shadow: 0 0 20px #000000;
}

.container-nft-img{
    width: 100%;
    height: 300px;
}

.container-nft-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px  0 0;
}

.container-nft-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container-btn-more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container-btn-more button{
    border: solid 1px #ccc;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.container-btn-more button:hover{
    border: #fff solid 1px;
    background-color: #ff139d;
    color: #fff;
}
/*Footer*/

footer{
    display: flex;
    background: linear-gradient(#1b171f, rgb(25, 20, 39));
    color: #fff;
    padding: 18px;
    justify-content: space-between;       
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    color: #fff;
    padding: 18px;
    justify-content: space-between;
    align-items: flex-start;   
}

.menu-mobile-footer{
    display:none;
}

.menu-mobile-footer img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

nav.container-menu-footer ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.container-menu-footer span{
    color: #ff139d;
}

.container-menu-footer li{
    margin: 5px 0;
}

.container-menu-footer ul li:nth-child(1){
    margin-top: 200px;
}

.container-menu-footer a{
    color: white;
    text-decoration: none;
    font-weight: thin;
}

.container-menu-footer a:hover{
    text-decoration: underline;
}

/*Media Queryes*/

@media (max-width:1060px){
    
    .menu-desktop{
        display: none;
    }
    
    .menu-mobile{
        display: block;
    }

    .container-header{
        gap: 30px;
    }

    /*Section Main*/

    .main{
        max-height:none;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        background: linear-gradient(#020102, #0c060c);
    }

    .container-main-msg{
        position: relative;
        top: -100px;
        padding: 20px;
    }
    
    .container-video video{
        height:300px;
        display: flex;
        justify-content: flex-end;
        align-items: right;
        background-position: bottom right;
    }
    .main h2{
        font-size: 60px;
        text-transform: uppercase;
        font-family: 'Roboto Condensed';
    }

    /*section examples*/

    section.examples{
        padding: 50px;
        text-align: center;
    }

    .container-nfts{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-poster-nft{
        width: 50%;
    }


    .container-nft-img{
        width: 100%;
        height: 300px;
    }


}

@media (max-width:800px){
    .container-poster-nft{
        width: 100%;
    }

    .container-menu-footer{
        display: none;
    }
    
    .menu-mobile-footer{
        display:block;
    }

    .container-footer{
        align-items: center;
    }

}